<!--page title-->
<div class="pagetitle">
  <h1>Timesheets Approvals</h1>

  <div class="clearfix"></div>
</div>
<!--page title end-->

<!--Events Table-->
<div class="grid">

  <div class="grid-title">
    <div class="pull-left">
      <div class="icon-title"><i class="icon-eye-open"></i></div>
      <span>New Timesheets</span>

      <div class="clearfix"></div>
    </div>
    <div class="pull-right">
      <div class="icon-title"><a href="/approvals"><i class="icon-refresh"></i></a></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="grid-content overflow">

    <table class="table table-bordered table-mod-2" id="datatable_new">
      <thead>
      <tr>
        <th>User</th>
        <th>Week Commencing</th>
        <th>Total Hours</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @new.each do |timesheet| %>
          <tr>
            <td><%= timesheet.user.email %></td>
            <td><%= timesheet.week_commencing_pretty %></td>
            <td><%= labelize(timesheet.total_hours, :gray) %></td>
            <td><%= labelize_status(timesheet.status) %></td>
            <td class="action-table">
              <%= link_to image_tag('/design/images/icon/table_del.png'), destroy_timesheet_path(timesheet.id), :data => {:confirm => "Are You Sure You Want To Delete #{timesheet.week_commencing}?"}, :method => :get %>
              <%= link_to image_tag('/design/images/icon/table_edit.png'), edit_timesheet_path(timesheet.id) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="clearfix"></div>
  </div>

</div>
<!--Example Table END-->

<!--Events Table-->
<div class="grid">

  <div class="grid-title">
    <div class="pull-left">
      <div class="icon-title"><i class="icon-eye-open"></i></div>
      <span>Submitted Timesheets</span>

      <div class="clearfix"></div>
    </div>
    <div class="pull-right">
      <div class="icon-title"><a href="/approvals"><i class="icon-refresh"></i></a></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="grid-content overflow">

    <table class="table table-bordered table-mod-2" id="datatable_submitted">
      <thead>
      <tr>
        <th>User</th>
        <th>Week Commencing</th>
        <th>Total Hours</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @submitted.each do |timesheet| %>
          <tr>
            <td><%= timesheet.user.email %></td>
            <td><%= timesheet.week_commencing_pretty %></td>
            <td><%= labelize(timesheet.total_hours, :gray) %></td>
            <td><%= labelize_status(timesheet.status) %></td>
            <td class="action-table">
              <%= link_to image_tag('/design/images/icon/table_del.png'), destroy_timesheet_path(timesheet.id), :data => {:confirm => "Are You Sure You Want To Delete #{timesheet.week_commencing}?"}, :method => :get %>
              <%= link_to image_tag('/design/images/icon/table_edit.png'), edit_timesheet_path(timesheet.id) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="clearfix"></div>
  </div>

</div>
<!--Example Table END-->

<!--Events Table-->
<div class="grid">

  <div class="grid-title">
    <div class="pull-left">
      <div class="icon-title"><i class="icon-eye-open"></i></div>
      <span>Approved Timesheets</span>

      <div class="clearfix"></div>
    </div>
    <div class="pull-right">
      <div class="icon-title"><a href="/approvals"><i class="icon-refresh"></i></a></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="grid-content overflow">

    <table class="table table-bordered table-mod-2" id="datatable_approved">
      <thead>
      <tr>
        <th>User</th>
        <th>Week Commencing</th>
        <th>Total Hours</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @approved.each do |timesheet| %>
          <tr>
            <td><%= timesheet.user.email %></td>
            <td><%= timesheet.week_commencing_pretty %></td>
            <td><%= labelize(timesheet.total_hours, :gray) %></td>
            <td><%= labelize_status(timesheet.status) %></td>
            <td class="action-table">
              <%= link_to image_tag('/design/images/icon/table_del.png'), destroy_timesheet_path(timesheet.id), :data => {:confirm => "Are You Sure You Want To Delete #{timesheet.week_commencing}?"}, :method => :get %>
              <%= link_to image_tag('/design/images/icon/table_edit.png'), edit_timesheet_path(timesheet.id) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="clearfix"></div>
  </div>

</div>
<!--Example Table END-->

<!--Events Table-->
<div class="grid">

  <div class="grid-title">
    <div class="pull-left">
      <div class="icon-title"><i class="icon-eye-open"></i></div>
      <span>Processed Timesheets</span>

      <div class="clearfix"></div>
    </div>
    <div class="pull-right">
      <div class="icon-title"><a href="/approvals"><i class="icon-refresh"></i></a></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="grid-content overflow">

    <table class="table table-bordered table-mod-2" id="datatable_approved">
      <thead>
      <tr>
        <th>User</th>
        <th>Week Commencing</th>
        <th>Total Hours</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @processed.each do |timesheet| %>
          <tr>
            <td><%= timesheet.user.email %></td>
            <td><%= timesheet.week_commencing_pretty %></td>
            <td><%= labelize(timesheet.total_hours, :gray) %></td>
            <td><%= labelize_status(timesheet.status) %></td>
            <td class="action-table">
              <%= link_to image_tag('/design/images/icon/table_del.png'), destroy_timesheet_path(timesheet.id), :data => {:confirm => "Are You Sure You Want To Delete #{timesheet.week_commencing}?"}, :method => :get %>
              <%= link_to image_tag('/design/images/icon/table_edit.png'), edit_timesheet_path(timesheet.id) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="clearfix"></div>
  </div>

</div>
<!--Example Table END-->

<!--Events Table-->
<div class="grid">

  <div class="grid-title">
    <div class="pull-left">
      <div class="icon-title"><i class="icon-eye-open"></i></div>
      <span>Rejected Timesheets</span>

      <div class="clearfix"></div>
    </div>
    <div class="pull-right">
      <div class="icon-title"><a href="/approvals"><i class="icon-refresh"></i></a></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="grid-content overflow">

    <table class="table table-bordered table-mod-2" id="datatable_rejected">
      <thead>
      <tr>
        <th>User</th>
        <th>Week Commencing</th>
        <th>Total Hours</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @rejected.each do |timesheet| %>
          <tr>
            <td><%= timesheet.user.email %></td>
            <td><%= timesheet.week_commencing_pretty %></td>
            <td><%= labelize(timesheet.total_hours, :gray) %></td>
            <td><%= labelize_status(timesheet.status) %></td>
            <td class="action-table">
              <%= link_to image_tag('/design/images/icon/table_del.png'), destroy_timesheet_path(timesheet.id), :data => {:confirm => "Are You Sure You Want To Delete #{timesheet.week_commencing}?"}, :method => :get %>
              <%= link_to image_tag('/design/images/icon/table_edit.png'), edit_timesheet_path(timesheet.id) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="clearfix"></div>
  </div>

</div>
<!--Example Table END-->