<!DOCTYPE html>
<html lang="en" class="body-error">
<head>
  <meta charset="utf-8">
  <title>Chronos - Edit User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="/design/css/login.css" rel="stylesheet">
  <link href="/design/css/bootstrap.css" rel="stylesheet">


  <link rel="stylesheet" href="/design/css/icon/font-awesome.css">
  <link rel="stylesheet" href="/design/css/bootstrap-responsive.css">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/design/images/icons/favicon.ico">

  <style>
      .edit_user {
          background: white;
          margin-bottom: 0px;
      }

      #error_explanation h2 {
          font-size: 14px;
          color: red;
      }

      #error_explanation li {
          color: red;
      }

      #error_explanation {
          padding: 10px;
      }
  </style>

</head>

<body>

<div id="wrapper">
  <div id="login" class="animate form position">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
        <div class="content-login">
          <div class="header">Edit <%= resource_name.to_s.humanize %></div>

          <%= devise_error_messages! %>

          <div class="inputs">
            <div class="text-center"><%= f.label :email %></div>
            <%= f.email_field :email, :autofocus => true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="text-center">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="text-center"><%= f.label :password %></div>
            <div class="text-center"><i>(leave blank if you don't want to change it)</i></div>
            <%= f.password_field :password, :autocomplete => "off" %>

            <div class="text-center"><%= f.label :password_confirmation %></div>
            <%= f.password_field :password_confirmation %>

            <div class="text-center"><%= f.label :current_password %></div>
            <div class="text-center"><i>(current password required to confirm changes)</i></div>
            <%= f.password_field :current_password %>
          </div>
          <div class="link-1"><%= link_to "Back", :back %></div>
          <div class="link-2"><%= link_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete %></div>
          <div class="clear"></div>
          <div class="button-login"><%= f.submit 'Update' %></div>
        </div>
        <div class="footer-login">
          <div class="clear"></div>
        </div>

    <% end %>

  </div>


</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/design/js/jquery.min.js"></script>


</body>
</html>




