<%= f.fields_for :timerow do |timerow| %>


<!--- timesheet messing -->

<%

   def for_day(start,number)
     start.advance(:days => number)
   end

   @date = Time.now.next_week
   @week_start = @date.beginning_of_week

   @days = {:monday => @week_start, :tuesday => for_day(@week_start,1), :wednesday => for_day(@week_start,2), :thursday => for_day(@week_start,3), :friday => for_day(@week_start,4), :saturday => for_day(@week_start,5), :sunday => for_day(@week_start,6)}


%>

<br/>
<br/>
<br/>

<table class="table table-bordered table-mod-2" id="datatable_2">
  <thead>
  <tr>
    <th class="span3">Task</th>
    <% @days.each  do |day,time|%>
    <th class="span1"><%= day %> <%= time.strftime("%x") %></th>
    <% end %>
    <th class="span1">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="span3">task</td>
    <% @days.each  do |day,time|%>
    <td> <%= timerow.text_field :monday, :class => 'span1 input' %></td>
    <% end %>
    <td>remove</td>
  </tr>
  </tbody>
</table>




<!--- timesheet messing -->
<% end %>


<!-- mark2 -->

<!--- timesheet messing -->

     <%

        def for_day(start,number)
          start.advance(:days => number)
        end

        @week_start = @timesheet.week_commencing

        @days = {:monday => @week_start, :tuesday => for_day(@week_start,1), :wednesday => for_day(@week_start,2), :thursday => for_day(@week_start,3), :friday => for_day(@week_start,4), :saturday => for_day(@week_start,5), :sunday => for_day(@week_start,6)}

        @days = [
                for_day(@week_start,0),
                for_day(@week_start,1),
                for_day(@week_start,2),
                for_day(@week_start,3),
                for_day(@week_start,4),
                for_day(@week_start,5),
                for_day(@week_start,6),
        ]

     %>

     <br/>
     <br/>
     <br/>

     <table class="table table-bordered table-mod-2" id="datatable_2">
       <thead>
       <tr>
         <th class="span3">Task</th>
         <% @days.each  do |day|%>
         <th class="span1"><%= raw(day.strftime("%A %% %d %b %Y").gsub('%','<br/>')) %></th>
         <% end %>
         <th class="span1">Actions</th>
       </tr>
       </thead>
       <tbody>



       <tr>
         <td class="span3">task</td>
         <% @days.each do |day|%>
         <% weekday = day.strftime("%A").downcase %>
         <td> <%= f.text_field weekday.to_sym, :class => 'span1 input' %></td>
         <% end %>
         <td>remove</td>
       </tr>



       </tbody>
     </table>




     <!--- timesheet messing -->